name: Format code

on:
  push:

jobs:
  formatter:
    name: formatter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12.2]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install Poetry
        uses: snok/install-poetry@v1
      
      - name: Install Dependencies
        run: poetry install
        
      - name: black
        run: poetry run black .
      - name: autoflake
        run: poetry run autoflake -r .
      - name: isort
        run: poetry run isort .
        
      - name: Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply Code Formatter
